.homepage-herobanner {
  background-image: url("../../img/hero-banner.jpg");
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  height: 50vh;
  object-fit: fill;
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
