.fa-user-circle {
  color: #9a40e4;
  font-size: 35px;
}
.fa-map-marker-alt {
  color: #9a40e4;
  font-size: 44px;
}

.fa-instagram {
  font-size: 24px;
  padding: 10px;
}

.fa-twitter {
  font-size: 24px;
  padding: 10px;
}

.fa-facebook {
  font-size: 24px;
  padding: 10px;
}

.fa-star {
  color: #9a40e4;
  font-size: 18px;
}
.fa-hand-pointer {
  color: #9a40e4;
  font-size: 64px;
}
.fa-hotel {
  color: #9a40e4;
  font-size: 64px;
}
.fa-plane-departure {
  color: #9a40e4;
  font-size: 64px;
}
.fa-search-location {
  color: #9a40e4;
  font-size: 64px;
}
