.navbar {
    height: 100px;
    z-index: 9999;
    
}
.navbar-brand {
    font-family: prompt-italic;
    font-size: 24px!important;
}
.navbar-toggler {
    border-color: transparent!important;
}
.nav-link {
    color: black!important;
    font-family: raleway-medium;
}

