$theme-colors: (
  "primary": #9a40e4,
  "secondary": #8edce6,
  "danger": #8f241f,
);
.color-white {
    color:white;
}
.color-black {
    color: black;
}
.color-primary {
    color: #9a40e4;
}
.bg-white {
    background-color: white;
}
.bg-primary {
    background-color: #9a40e4;
}
.bg-black{
    background-color: rgba(0, 0, 0, 0.452);
}
