.homepage-illustration {
  width: 500px;
  height: 500px;
}
.container-searchfield {
    background-image: url("../../img/search-image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    object-fit: fill;
    min-height: 350px;
    width: 100%;
}
